.vscode/
venv/
bkp/

**/CMakeUserPresets.json
**/CMakeLists.txt.user
**/CMakeUserPresets.json 


**/build/
**/*.egg-info
**/dist/
**/*.so
**/*.whl
**/*.zip

**/conan.lock
**/openai_api_key*

libs/faiss/
models/
